$bob : 24px;
$header-h : 24px;
$font-size : 10px;
$color-blue : #007ae6;

$coder-font : Menlo, 'Menlo', Monaco, ui-monospace, monospace;

$dark-row-underline : 1px solid rgb(61, 61, 61);
$dark-alternate-row-bkgd-color : #3b3b3b;
$dark-page-view-color : #a1c5e4;
$dark-property-name-color : #afafaf;
$dark-page-view-color-product : #cfa8fc;
$dark-link-click-color : #9cc7a0;
$dark-target-color : #c7b19c;
$dark-background-color : #2e2e2e;
$dark-scrollbar-bkgd : #000000;
$dark-scrollbar-thumb : #5c5c5c;
$dark-sub-folder-title : #888888;
$dark-tools-bkgd : #1a1a1a;
$dark-tools-icon-color-hover : #DEDEDE;
$dark-tools-icon-color : #888888;
$dark-tools-history-hover : #353535;
$dark-text-numeric : #bb7df5;

$light-row-underline : 1px solid rgb(243, 243, 243);
$light-alternate-row-bkgd-color : #f3f3f3;
$light-page-view-color : #0642b3;
$light-property-name-color : #5a5a5a;
$light-page-view-color-product : #6800bd;
$light-link-click-color : #0f800f;
$light-target-color : #80400f;
$light-background-color : #FFFFFF;
$light-scrollbar-bkgd : #ebebeb;
$light-scrollbar-thumb : #cecece;
$light-sub-folder-title : #989898;
$light-text-numeric : #cc00fe;

$tools-bkgd : #ebebeb;
$tools-icon-color : #717171;
$tools-icon-color-hover : #252525;
$tools-history-hover : #eeeeee;
$tools-history-selected : #0c7be2;
$tools-history-selected-text : #FFFFFF;


$input-border : 1px solid #d8d8d8;
$dark-input-border : 1px solid #272727;

$row-underline : $light-row-underline;
$alternate-row-bkgd-color : $light-alternate-row-bkgd-color;
$page-view-color : $light-page-view-color;
$property-name-color : $light-property-name-color;
$page-view-color-product : $light-page-view-color-product;
$link-click-color : $light-link-click-color;
$target-color : $light-target-color;
$background-color : $light-background-color;
$scrollbar-bkgd : $light-scrollbar-bkgd;
$scrollbar-thumb : $light-scrollbar-thumb;
$sub-folder-title : $light-sub-folder-title;
$scrollbar-size : 6px;

$button-rounded : 3px;

$selection-text : #000000;
$selection-bkgd : rgb(255, 247, 133);

$line-transition : background-color 250ms ease-in-out, border 250ms ease-in-out;

$search-input-color : #363636;
$dark-search-input-color : #d8d8d8;

$text-icon-bkgd-color : #26a8ff;
