.oview-toolbar-icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: top;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.oview-toolbar-icon.oview-active {
  background-color: #FFFFFF;
}
.oview-toolbar-icon i {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50% 50%;
}
.oview-toolbar-icon.oview-asMin {
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
.oview-toolbar-icon i.oview-clear {
  background-image: url(../images/toolbar/cancel.svg);
}
.oview-toolbar-icon i.oview-clear:hover {
  background-image: url(../images/toolbar/cancel-hover.svg);
}
.oview-toolbar-icon i.oview-down {
  background-image: url(../images/toolbar/down.svg);
}
.oview-toolbar-icon i.oview-down:hover {
  background-image: url(../images/toolbar/down-hover.svg);
}
.oview-toolbar-icon i.oview-up {
  background-image: url(../images/toolbar/up.svg);
}
.oview-toolbar-icon i.oview-up:hover {
  background-image: url(../images/toolbar/up-hover.svg);
}
.oview-toolbar-icon i.gear {
  background-image: url(../images/toolbar/gear.svg);
}
.oview-toolbar-icon i.gear:hover {
  background-image: url(../images/toolbar/gear-hover.svg);
}
.oview-toolbar-icon i.gear.opened {
  background-image: url(../images/toolbar/gear-hover.svg);
}
.oview-toolbar-icon i.oview-save {
  background-image: url(../images/toolbar/save.svg);
}
.oview-toolbar-icon i.oview-save:hover {
  background-image: url(../images/toolbar/save-hover.svg);
}
.oview-toolbar-icon i.oview-save.oview-opened {
  background-image: url(../images/toolbar/save-hover.svg);
}
.oview-toolbar-icon i.oview-toggleMin {
  background-image: url(../images/tree-arrow.svg);
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}
.oview-toolbar-icon i.oview-toggleMin:hover {
  background-image: url(../images/tree-arrow-hover.svg);
}
.oview-toolbar-icon i.oview-eye {
  background-image: url(../images/toolbar/eye-open.svg);
}
.oview-toolbar-icon i.oview-eye:oview-hover {
  background-image: url(../images/toolbar/eye-open-hover.svg);
}
.oview-toolbar-icon i.oview-eye.oview-closed {
  background-image: url(../images/toolbar/eye-closed.svg);
}
.oview-toolbar-icon i.oview-eye.oview-closed:hover {
  background-image: url(../images/toolbar/eye-closed-hover.svg);
}
.oview-toolbar-icon i.oview-eye.oview-inverse {
  background-image: url(../images/toolbar/eye-inverse.svg);
}
.oview-toolbar-icon i.oview-eye.oview-inverse:hover {
  background-image: url(../images/toolbar/eye-inverse-hover.svg);
}
.oview-toolbar-icon i.oview-wrap {
  background-image: url(../images/toolbar/wrap.svg);
}
.oview-toolbar-icon i.oview-wrap:hover {
  background-image: url(../images/toolbar/wrap-hover.svg);
}
.oview-toolbar-icon i.oview-wrap.oview-no {
  background-image: url(../images/toolbar/wrap-no.svg);
}
.oview-toolbar-icon i.oview-wrap.oview-no:hover {
  background-image: url(../images/toolbar/wrap-no-hover.svg);
}